

@font-face {
    font-family: 'AlibabaPuHuiTi';
    src: url('./alibabaFont/zh-cn/Alibaba-PuHuiTi-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AlibabaPuHuiTi-Bold';
    src: url('./alibabaFont/zh-cn/Alibaba-PuHuiTi-Bold.otf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'AlibabaPuHuiTi-Light';
    src: url('./alibabaFont/zh-cn/Alibaba-PuHuiTi-Light.otf');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'AlibabaPuHuiTi-Medium';
    src: url('./alibabaFont/zh-cn/Alibaba-PuHuiTi-Medium.otf');
    font-weight: Medium;
    font-style: normal;
}
@font-face {
    font-family: 'AlibabaPuHuiTi-Heavy';
    src: url('./alibabaFont/zh-cn/Alibaba-PuHuiTi-Heavy.otf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
  font-family: "Nexa Light";
  src: url("nexa/Nexa-Light.eot");
  src: local("nexa/Nexa Light"), local("Nexa-Light"),
    url("nexa/Nexa-Light.eot?#iefix") format("embedded-opentype"),
    url("nexa/Nexa-Light.woff2") format("woff2"),
    url("nexa/Nexa-Light.woff") format("woff"),
    url("nexa/Nexa-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Nexa";
  src: url("nexa/Nexa-Book.eot");
  src: local("nexa/Nexa Book"), local("Nexa-Book"),
    url("nexa/Nexa-Book.eot?#iefix") format("embedded-opentype"),
    url("nexa/Nexa-Book.woff2") format("woff2"),
    url("nexa/Nexa-Book.woff") format("woff"),
    url("nexa/Nexa-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Nexa Bold";
  src: url("nexa/Nexa-Bold.eot");
  src: local("nexa/Nexa Bold"), local("Nexa-Bold"),
    url("nexa/Nexa-Bold.eot?#iefix") format("embedded-opentype"),
    url("nexa/Nexa-Bold.woff2") format("woff2"),
    url("nexa/Nexa-Bold.woff") format("woff"),
    url("nexa/Nexa-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}